# read file from S3 using pandas df

In [3]:
import boto3
import pandas as pd
import io

REGION = 'us-east-2'
ACCESS_KEY_ID = 'AKIAV66IE74G4UKUZF4F'
SECRET_ACCESS_KEY = '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'

BUCKET_NAME = 'pysparkcsvs3'
KEY = 'pysparks3/s1.csv' # file path in S3 

s3c = boto3.client('s3', 
        region_name = REGION,
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key = SECRET_ACCESS_KEY
    )

obj = s3c.get_object(Bucket= BUCKET_NAME , Key = KEY)

sales_df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
sales_df.head(5)

#referred link: https://vperezb.github.io/from-s3-csv-to-pandas-boto3-python3/

,PROD_ID,CUST_ID,TIME_ID,CHANNEL_ID,PROMO_ID,QUANTITY_SOLD,AMOUNT_SOLD
0,13,987,10-JAN-98,3,999,1,1232.16
1,13,1660,10-JAN-98,3,999,1,1232.16
2,13,1762,10-JAN-98,3,999,1,1232.16
3,13,1843,10-JAN-98,3,999,1,1232.16
4,13,1948,10-JAN-98,3,999,1,1232.16

In [5]:
print(obj)
print(type(obj))

{'ResponseMetadata': {'RequestId': '930E0542784CD9F9', 'HostId': '5m3l+sfHrHuPGcfwtRK8ZjYR/W7mjKe+ekGiRg6CPjE6xxAGR/c8qJeeizbvbZl5MZYyKTKL8qhbWpVhPG2p7w==', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': '5m3l+sfHrHuPGcfwtRK8ZjYR/W7mjKe+ekGiRg6CPjE6xxAGR/c8qJeeizbvbZl5MZYyKTKL8qhbWpVhPG2p7w==', 'x-amz-request-id': '930E0542784CD9F9', 'date': 'Sat, 23 Jan 2021 07:25:45 GMT', 'last-modified': 'Sat, 23 Jan 2021 04:50:13 GMT', 'etag': '"3cef8fd466629e8d8f7f4b8883137d7e"', 'accept-ranges': 'bytes', 'content-type': 'text/csv', 'content-length': '785', 'server': 'AmazonS3'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2021, 1, 23, 4, 50, 13, tzinfo=tzutc()), 'ContentLength': 785, 'ETag': '"3cef8fd466629e8d8f7f4b8883137d7e"', 'ContentType': 'text/csv', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x000002132B64A4A8>}
<class 'dict'>

# write a pandas df to aws s3

In [43]:
emp_df=pd.read_csv(r'D:\python_coding\GitLearn\python_ETL\emp.dat')
emp_df.head(10)

   empno   ename    sal  deptno   comm
0   7369   scott  14000      10  700.0
1   7782    king  18000      10    NaN
2   7788  turner  12000      20  400.0
3   7437   james  10000      20  700.0
4   7799  warner  13000      20    NaN
5   7945  tucker  12500      10  500.0
6   7788     rod  14000      40  500.0

In [36]:
from io import StringIO

In [49]:
BUCKET_NAME = 'pysparkcsvs3'
FileName='pysparks3/emp.csv'

csv_buffer=StringIO()
emp_df.to_csv(csv_buffer, index=False)


s3csv = boto3.client('s3', 
        region_name = REGION,
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key = SECRET_ACCESS_KEY
    )

response=s3csv.put_object(Body=csv_buffer.getvalue(),
                          Bucket=BUCKET_NAME,
                          Key=FileName)

#https://gist.github.com/uhho/a1490ae2abd112b556dcd539750aa151
#read about stringIO- https://pymotw.com/2/StringIO/

In [48]:
print(response)
print(type(response))
print(type(csv_buffer))
print(csv_buffer)

{'ResponseMetadata': {'RequestId': 'B1E8CB5CBB1DDCFC', 'HostId': 'JtfsEv9q5LtBMzQKCYg57tKdhDdHQCSr8gWFySiHJlwqZChoe8C/VBv6B/BEuLZHCeUihamNu/c=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'JtfsEv9q5LtBMzQKCYg57tKdhDdHQCSr8gWFySiHJlwqZChoe8C/VBv6B/BEuLZHCeUihamNu/c=', 'x-amz-request-id': 'B1E8CB5CBB1DDCFC', 'date': 'Sat, 23 Jan 2021 16:36:16 GMT', 'etag': '"3f07fe61cbddaf635dbcdb78e96035e4"', 'content-length': '0', 'server': 'AmazonS3'}, 'RetryAttempts': 0}, 'ETag': '"3f07fe61cbddaf635dbcdb78e96035e4"'}
<class 'dict'>
<class '_io.StringIO'>
<_io.StringIO object at 0x000002132C6F1318>

# read emp data from aws s3

In [50]:
import boto3
import pandas as pd
import io

BUCKET_NAME = 'pysparkcsvs3'
KEY = 'pysparks3/emp.csv' # file path in S3 
#path='s3://pysparkcsvs3/emp.csv'

s3c = boto3.client('s3', 
        region_name = REGION,
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key = SECRET_ACCESS_KEY)

obj = s3c.get_object(Bucket= BUCKET_NAME , Key = KEY)

emp_df = pd.read_csv(io.BytesIO(obj['Body'].read()))
#emp_df = pd.read_csv(obj['Body'].read())
emp_df.head(10)

#referred link: https://vperezb.github.io/from-s3-csv-to-pandas-boto3-python3/

   empno   ename    sal  deptno   comm
0   7369   scott  14000      10  700.0
1   7782    king  18000      10    NaN
2   7788  turner  12000      20  400.0
3   7437   james  10000      20  700.0
4   7799  warner  13000      20    NaN
5   7945  tucker  12500      10  500.0
6   7788     rod  14000      40  500.0

In [51]:
print(type(obj))
print(obj)

<class 'dict'>
{'ResponseMetadata': {'RequestId': 'ABA0F7F66C3ED8E9', 'HostId': 'gYfQc0dNSX91+nEEsnMN6jh/E1R6HFzVz9MsARbmtVNnGx4gHBYvmAmwKsG1TryJPKYhXHEiQIs=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'gYfQc0dNSX91+nEEsnMN6jh/E1R6HFzVz9MsARbmtVNnGx4gHBYvmAmwKsG1TryJPKYhXHEiQIs=', 'x-amz-request-id': 'ABA0F7F66C3ED8E9', 'date': 'Sat, 23 Jan 2021 17:09:03 GMT', 'last-modified': 'Sat, 23 Jan 2021 16:46:11 GMT', 'etag': '"3f07fe61cbddaf635dbcdb78e96035e4"', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'content-length': '208', 'server': 'AmazonS3'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2021, 1, 23, 16, 46, 11, tzinfo=tzutc()), 'ContentLength': 208, 'ETag': '"3f07fe61cbddaf635dbcdb78e96035e4"', 'ContentType': 'binary/octet-stream', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x000002132DAC0A90>}