In [1]:
import pandas as pd

In [21]:
df=pd.read_csv(r'D:\python coding\pyspark_tutorial\test_data.txt')
df

   id val
0  10   A
1  20   C
2  30   B
3  20   C
4  30   B
5  10   A
6  10   A

In [22]:
df.sort_values('id', inplace=True)
df

   id val
0  10   A
5  10   A
6  10   A
1  20   C
3  20   C
2  30   B
4  30   B

In [52]:
df_dict=df.to_dict('list')
type(df_dict)
df_dict

{'id': [10, 10, 10, 20, 20, 30, 30],
 'val': ['A', 'A', 'A', 'C', 'C', 'B', 'B']}

In [59]:
dict_list=[]
l=[]
for i,j in df_dict.items():
    row=[]
    for k in j:
        row.append(i)
        row.append(k)
        l.append(row)

[['id', [10, 10, 10, 20, 20, 30, 30]], ['val', ['A', 'A', 'A', 'C', 'C', 'B', 'B']], ['id', [10, 10, 10, 20, 20, 30, 30]], ['val', ['A', 'A', 'A', 'C', 'C', 'B', 'B']], ['id', [10, 10, 10, 20, 20, 30, 30]], ['val', ['A', 'A', 'A', 'C', 'C', 'B', 'B']], ['i', 10], ['v', 'A'], ['i', 10], ['v', 'A'], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['id', 10, 'id', 10, 'id', 10, 'id', 20, 'id', 20, 'id', 30, 'id', 30], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B'], ['val', 'A', 'val', 'A', 'val', 'A', 'val', 'C', 'val', 'C', 'val', 'B', 'val', 'B']]

In [44]:
#print(df.iloc[:,0].to_list())

l1=[]
l2=[]


for key,value in df_dict.items():
    if df_dict[key] not in l1:
        print(df_dict[key])
        r1=[]
        a=r1.append(key)
        b=r1.append(value)
        #l1.append(r1)
    else:
        r2=[]
        r2.append(key)
        r2.append(value)
        l2.append(r2)
        
print(l1)    
print(l2)

[10, 10, 10, 20, 20, 30, 30]
['A', 'A', 'A', 'C', 'C', 'B', 'B']
[]
[]

In [55]:
COLORED_THINGS = {'blue': ['sky', 'jeans', 'powerline insert mode'],
                  'yellow': ['sun', 'banana', 'phone book/monitor stand'],
                  'red': ['blood', 'tomato', 'test failure']}
""" Nested for loops. """
for color, things in COLORED_THINGS.items():
    for thing in things:
        print(color)
        print(thing)

blue
sky
blue
jeans
blue
powerline insert mode
yellow
sun
yellow
banana
yellow
phone book/monitor stand
red
blood
red
tomato
red
test failure

In [18]:
from pandas import DataFrame

Products = {'Product': ['Tablet','iPhone','Laptop','Monitor'],
            'Price': [250,800,1200,300]
            }

df = DataFrame(Products, columns= ['Product', 'Price'])

Products_list = df.values.tolist()
print (Products_list)

[['Tablet', 250], ['iPhone', 800], ['Laptop', 1200], ['Monitor', 300]]