In [1]:
import findspark
findspark.init('D:\spark-2.3.3-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
print('modules imported')

modules imported

In [2]:
spark= SparkSession.builder.appName('data_wrangling').getOrCreate()
print('app name build')

app name build

In [3]:
avacado_df=spark.read.csv(r"D:\python coding\Pyspark_BigData_study\Data Wrangling\avocado.csv",
                         inferSchema=True,header=True)
avacado_df.show(10)

+---+-------------------+------------+------------+-------+---------+-----+----------+----------+----------+-----------+------------+----+------+
|_c0|               Date|AveragePrice|Total Volume|   4046|     4225| 4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|region|
+---+-------------------+------------+------------+-------+---------+-----+----------+----------+----------+-----------+------------+----+------+
|  0|2015-12-27 00:00:00|        1.33|    64236.62|1036.74| 54454.85|48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|
|  1|2015-12-20 00:00:00|        1.35|    54876.98| 674.28| 44638.81|58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|
|  2|2015-12-13 00:00:00|        0.93|   118220.22|  794.7|109149.67|130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|
|  3|2015-12-06 00:00:00|        1.08|    78992.15| 1132.0| 71976.41|72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|
|  4|2015-11-29 00:00:00|        1.28|     51039.6| 941.48| 43838.39|75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|
|  5|2015-11-22 00:00:00|        1.26|    55979.78|1184.27| 48067.99|43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|
|  6|2015-11-15 00:00:00|        0.99|    83453.76|1368.92| 73672.72|93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|
|  7|2015-11-08 00:00:00|        0.98|   109428.33| 703.75|101815.36| 80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|
|  8|2015-11-01 00:00:00|        1.02|    99811.42|1022.15| 87315.57|85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|
|  9|2015-10-25 00:00:00|        1.07|    74338.76|  842.4| 64757.44|113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|
+---+-------------------+------------+------------+-------+---------+-----+----------+----------+----------+-----------+------------+----+------+
only showing top 10 rows

In [4]:
#count rows
print('number of rows '+str(avacado_df.count()))

number of rows 18249

In [5]:
avacado_df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+------------------+----------------+
|summary|               _c0|      AveragePrice|      Total Volume|              4046|              4225|              4770|        Total Bags|        Small Bags|        Large Bags|       XLarge Bags|        type|              year|          region|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+------------------+----------------+
|  count|             18249|             18249|             18249|             18249|             18249|             18249|             18249|             18249|             18249|             18249|       18249|             18249|           18249|
|   mean|24.232231903117977|1.4059784097758825| 850644.0130089332|293008.42453066056|295154.56835607596|22839.735992657315|239639.20205983953|182194.68669571026| 54338.08814455636|3106.4265072058793|        null|2016.1478985149872|            null|
| stddev| 15.48104475375712|0.4026765554955525|3453545.3553994684|1264989.0817627835|1204120.4011350533|107464.06843537069| 986242.3992164108| 746178.5149617895|243965.96454740898| 17692.89465191642|        null|0.9399384671420276|            null|
|    min|                 0|              0.44|             84.56|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|conventional|              2015|          Albany|
|    max|                52|              3.25|     6.250564652E7|     2.274361617E7|     2.047057261E7|        2546439.11|     1.937313437E7|      1.33845868E7|        5719096.61|         551693.65|     organic|              2018|WestTexNewMexico|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+------------------+----------------+

In [6]:
avacado_df.columns

['_c0',
 'Date',
 'AveragePrice',
 'Total Volume',
 '4046',
 '4225',
 '4770',
 'Total Bags',
 'Small Bags',
 'Large Bags',
 'XLarge Bags',
 'type',
 'year',
 'region']

In [7]:
#create subset of the dataframe
#selecting two columns from total columns
#method 1
columns_to_subset=['Total Volume','AveragePrice']
df_1=avacado_df.select(*[columns_to_subset])
df_1.show()

+------------+------------+
|Total Volume|AveragePrice|
+------------+------------+
|    64236.62|        1.33|
|    54876.98|        1.35|
|   118220.22|        0.93|
|    78992.15|        1.08|
|     51039.6|        1.28|
|    55979.78|        1.26|
|    83453.76|        0.99|
|   109428.33|        0.98|
|    99811.42|        1.02|
|    74338.76|        1.07|
|    84843.44|        1.12|
|    64489.17|        1.28|
|     61007.1|        1.31|
|   106803.39|        0.99|
|    69759.01|        1.33|
|    76111.27|        1.28|
|    99172.96|        1.11|
|   105693.84|        1.07|
|    79992.09|        1.34|
|    80043.78|        1.33|
+------------+------------+
only showing top 20 rows

In [8]:
#method 2 select columns for subset 
df_2=avacado_df.select('Total Volume','AveragePrice')
df_2.show()

+------------+------------+
|Total Volume|AveragePrice|
+------------+------------+
|    64236.62|        1.33|
|    54876.98|        1.35|
|   118220.22|        0.93|
|    78992.15|        1.08|
|     51039.6|        1.28|
|    55979.78|        1.26|
|    83453.76|        0.99|
|   109428.33|        0.98|
|    99811.42|        1.02|
|    74338.76|        1.07|
|    84843.44|        1.12|
|    64489.17|        1.28|
|     61007.1|        1.31|
|   106803.39|        0.99|
|    69759.01|        1.33|
|    76111.27|        1.28|
|    99172.96|        1.11|
|   105693.84|        1.07|
|    79992.09|        1.34|
|    80043.78|        1.33|
+------------+------------+
only showing top 20 rows

In [9]:
#method 3 to create subset of data
#using indexes
df_3=avacado_df.select(avacado_df[3],avacado_df[2])
df_3.show()

+------------+------------+
|Total Volume|AveragePrice|
+------------+------------+
|    64236.62|        1.33|
|    54876.98|        1.35|
|   118220.22|        0.93|
|    78992.15|        1.08|
|     51039.6|        1.28|
|    55979.78|        1.26|
|    83453.76|        0.99|
|   109428.33|        0.98|
|    99811.42|        1.02|
|    74338.76|        1.07|
|    84843.44|        1.12|
|    64489.17|        1.28|
|     61007.1|        1.31|
|   106803.39|        0.99|
|    69759.01|        1.33|
|    76111.27|        1.28|
|    99172.96|        1.11|
|   105693.84|        1.07|
|    79992.09|        1.34|
|    80043.78|        1.33|
+------------+------------+
only showing top 20 rows

In [10]:
#count null values in a column
avacado_df.where(avacado_df['Total Volume'].isNull()).count()

0

In [11]:
#group by on values
avacado_df.groupby(avacado_df['type']).count().show()

+------------+-----+
|        type|count|
+------------+-----+
|     organic| 9123|
|conventional| 9126|
+------------+-----+

In [12]:
#crosstab values
avacado_df.where(avacado_df['region']=='Albany').crosstab('type','region').show()

+------------+------+
| type_region|Albany|
+------------+------+
|conventional|   169|
|     organic|   169|
+------------+------+

In [13]:
#filter condition using where clause
avacado_df.where(avacado_df['region']=='Albany').show(10)

+---+-------------------+------------+------------+-------+---------+-----+----------+----------+----------+-----------+------------+----+------+
|_c0|               Date|AveragePrice|Total Volume|   4046|     4225| 4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|region|
+---+-------------------+------------+------------+-------+---------+-----+----------+----------+----------+-----------+------------+----+------+
|  0|2015-12-27 00:00:00|        1.33|    64236.62|1036.74| 54454.85|48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|
|  1|2015-12-20 00:00:00|        1.35|    54876.98| 674.28| 44638.81|58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|
|  2|2015-12-13 00:00:00|        0.93|   118220.22|  794.7|109149.67|130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|
|  3|2015-12-06 00:00:00|        1.08|    78992.15| 1132.0| 71976.41|72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|
|  4|2015-11-29 00:00:00|        1.28|     51039.6| 941.48| 43838.39|75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|
|  5|2015-11-22 00:00:00|        1.26|    55979.78|1184.27| 48067.99|43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|
|  6|2015-11-15 00:00:00|        0.99|    83453.76|1368.92| 73672.72|93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|
|  7|2015-11-08 00:00:00|        0.98|   109428.33| 703.75|101815.36| 80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|
|  8|2015-11-01 00:00:00|        1.02|    99811.42|1022.15| 87315.57|85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|
|  9|2015-10-25 00:00:00|        1.07|    74338.76|  842.4| 64757.44|113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|
+---+-------------------+------------+------------+-------+---------+-----+----------+----------+----------+-----------+------------+----+------+
only showing top 10 rows

In [14]:
avacado_new=avacado_df.withColumn('Total Volume',avacado_df['Total Volume'].cast('float'))

In [15]:
avacado_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- AveragePrice: double (nullable = true)
 |-- Total Volume: double (nullable = true)
 |-- 4046: double (nullable = true)
 |-- 4225: double (nullable = true)
 |-- 4770: double (nullable = true)
 |-- Total Bags: double (nullable = true)
 |-- Small Bags: double (nullable = true)
 |-- Large Bags: double (nullable = true)
 |-- XLarge Bags: double (nullable = true)
 |-- type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- region: string (nullable = true)

In [16]:
avacado_new.printSchema()
#datatype of total volume changed to float
type(avacado_new) #datatype is dataframe

root
 |-- _c0: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- AveragePrice: double (nullable = true)
 |-- Total Volume: float (nullable = true)
 |-- 4046: double (nullable = true)
 |-- 4225: double (nullable = true)
 |-- 4770: double (nullable = true)
 |-- Total Bags: double (nullable = true)
 |-- Small Bags: double (nullable = true)
 |-- Large Bags: double (nullable = true)
 |-- XLarge Bags: double (nullable = true)
 |-- type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- region: string (nullable = true)

pyspark.sql.dataframe.DataFrame

In [17]:
#find distinct values of region column
avacado_df.select('region').distinct().show()

+------------------+
|            region|
+------------------+
|     PhoenixTucson|
|       GrandRapids|
|     SouthCarolina|
|           TotalUS|
|  WestTexNewMexico|
|        Louisville|
|      Philadelphia|
|        Sacramento|
|     DallasFtWorth|
|      Indianapolis|
|          LasVegas|
|         Nashville|
|        GreatLakes|
|           Detroit|
|            Albany|
|          Portland|
|  CincinnatiDayton|
|          SanDiego|
|             Boise|
|HarrisburgScranton|
+------------------+
only showing top 20 rows

In [18]:
#using groupby and count of region values
region_df=avacado_df.groupby('region').count().show()
type(region_df)

+------------------+-----+
|            region|count|
+------------------+-----+
|     PhoenixTucson|  338|
|       GrandRapids|  338|
|     SouthCarolina|  338|
|           TotalUS|  338|
|  WestTexNewMexico|  335|
|        Louisville|  338|
|      Philadelphia|  338|
|        Sacramento|  338|
|     DallasFtWorth|  338|
|      Indianapolis|  338|
|          LasVegas|  338|
|         Nashville|  338|
|        GreatLakes|  338|
|           Detroit|  338|
|            Albany|  338|
|          Portland|  338|
|  CincinnatiDayton|  338|
|          SanDiego|  338|
|             Boise|  338|
|HarrisburgScranton|  338|
+------------------+-----+
only showing top 20 rows

NoneType

In [19]:
#filter data 
filter_count=avacado_df.filter((avacado_df['type']=='organic') & (avacado_df['region']=='Albany')).count()
#print('filtered data '+ str(filter_count))
type(avacado_df) #datatype is dataframe
type(filter_count) #datatype is int so we can tuse show() mehtod for output
#count is an action
print(filter_count)

169

In [20]:
#rename columns
avacado_df=avacado_df.withColumnRenamed('Total Volume','Total_Volume').withColumnRenamed('Total Bags','Total_Bags').withColumnRenamed('Small bags','Small_Bags').withColumnRenamed('Large Bags','Large_Bags')
avacado_df=avacado_df.withColumnRenamed('XLarge Bags','XLarge_Bags')
avacado_df.columns

['_c0',
 'Date',
 'AveragePrice',
 'Total_Volume',
 '4046',
 '4225',
 '4770',
 'Total_Bags',
 'Small_Bags',
 'Large_Bags',
 'XLarge_Bags',
 'type',
 'year',
 'region']

In [21]:
#create new column
df_avg_bags=avacado_df.select('_c0','Total_Volume','Total_Bags').withColumn('Avg_volume_bag',avacado_df['Total_Volume']/avacado_df['Total_Bags'])
df_avg_bags.show()
df_avg_bags.columns

+---+------------+----------+------------------+
|_c0|Total_Volume|Total_Bags|    Avg_volume_bag|
+---+------------+----------+------------------+
|  0|    64236.62|   8696.87| 7.386176865929926|
|  1|    54876.98|   9505.56| 5.773145401217814|
|  2|   118220.22|   8145.35|14.513829362765259|
|  3|    78992.15|   5811.16|13.593181051631687|
|  4|     51039.6|   6183.95| 8.253559618043484|
|  5|    55979.78|   6683.91| 8.375304275491441|
|  6|    83453.76|   8318.86|10.031874559735346|
|  7|   109428.33|   6829.22|16.023547345084797|
|  8|    99811.42|  11388.36| 8.764336568215265|
|  9|    74338.76|   8625.92| 8.618067406143345|
| 10|    84843.44|   8205.66| 10.33962411311217|
| 11|    64489.17|   10123.9| 6.369992789340077|
| 12|     61007.1|   8756.75| 6.966865560853056|
| 13|   106803.39|   6034.46|17.698914235905118|
| 14|    69759.01|   9267.36| 7.527387519207195|
| 15|    76111.27|   9286.68| 8.195745950113496|
| 16|    99172.96|    7990.1|12.411979825033479|
| 17|   105693.84|  10306.73|10.254837373250293|
| 18|    79992.09|  10880.36| 7.351970890669058|
| 19|    80043.78|  10443.22| 7.664664729843861|
+---+------------+----------+------------------+
only showing top 20 rows

['_c0', 'Total_Volume', 'Total_Bags', 'Avg_volume_bag']

In [22]:
#create a new column with null value
#lit is use to create a new columns with a literal or a constant value
#in our example we have uses lit to create a column with default Null value
#cast to define datatype of the column
from pyspark.sql.functions import lit,concat
from pyspark.sql.types import StringType
df_new_col=df_avg_bags.withColumn('bag_per',lit(None).cast(StringType()))
df_new_col.show()

+---+------------+----------+------------------+-------+
|_c0|Total_Volume|Total_Bags|    Avg_volume_bag|bag_per|
+---+------------+----------+------------------+-------+
|  0|    64236.62|   8696.87| 7.386176865929926|   null|
|  1|    54876.98|   9505.56| 5.773145401217814|   null|
|  2|   118220.22|   8145.35|14.513829362765259|   null|
|  3|    78992.15|   5811.16|13.593181051631687|   null|
|  4|     51039.6|   6183.95| 8.253559618043484|   null|
|  5|    55979.78|   6683.91| 8.375304275491441|   null|
|  6|    83453.76|   8318.86|10.031874559735346|   null|
|  7|   109428.33|   6829.22|16.023547345084797|   null|
|  8|    99811.42|  11388.36| 8.764336568215265|   null|
|  9|    74338.76|   8625.92| 8.618067406143345|   null|
| 10|    84843.44|   8205.66| 10.33962411311217|   null|
| 11|    64489.17|   10123.9| 6.369992789340077|   null|
| 12|     61007.1|   8756.75| 6.966865560853056|   null|
| 13|   106803.39|   6034.46|17.698914235905118|   null|
| 14|    69759.01|   9267.36| 7.527387519207195|   null|
| 15|    76111.27|   9286.68| 8.195745950113496|   null|
| 16|    99172.96|    7990.1|12.411979825033479|   null|
| 17|   105693.84|  10306.73|10.254837373250293|   null|
| 18|    79992.09|  10880.36| 7.351970890669058|   null|
| 19|    80043.78|  10443.22| 7.664664729843861|   null|
+---+------------+----------+------------------+-------+
only showing top 20 rows

In [23]:
#adding values for bag_per column
bag_per_df=df_new_col.select(df_new_col['_c0'],df_new_col['Total_Volume'],df_new_col['Total_Bags'],df_new_col['Avg_volume_bag'],concat((df_new_col['Total_Volume']/df_new_col['Total_Bags'])*100).alias('bag_per'))
bag_per_df.show()

+---+------------+----------+------------------+------------------+
|_c0|Total_Volume|Total_Bags|    Avg_volume_bag|           bag_per|
+---+------------+----------+------------------+------------------+
|  0|    64236.62|   8696.87| 7.386176865929926| 738.6176865929926|
|  1|    54876.98|   9505.56| 5.773145401217814| 577.3145401217814|
|  2|   118220.22|   8145.35|14.513829362765259| 1451.382936276526|
|  3|    78992.15|   5811.16|13.593181051631687|1359.3181051631686|
|  4|     51039.6|   6183.95| 8.253559618043484| 825.3559618043485|
|  5|    55979.78|   6683.91| 8.375304275491441| 837.5304275491441|
|  6|    83453.76|   8318.86|10.031874559735346|1003.1874559735346|
|  7|   109428.33|   6829.22|16.023547345084797|1602.3547345084796|
|  8|    99811.42|  11388.36| 8.764336568215265| 876.4336568215265|
|  9|    74338.76|   8625.92| 8.618067406143345| 861.8067406143344|
| 10|    84843.44|   8205.66| 10.33962411311217| 1033.962411311217|
| 11|    64489.17|   10123.9| 6.369992789340077| 636.9992789340076|
| 12|     61007.1|   8756.75| 6.966865560853056| 696.6865560853056|
| 13|   106803.39|   6034.46|17.698914235905118|1769.8914235905117|
| 14|    69759.01|   9267.36| 7.527387519207195| 752.7387519207194|
| 15|    76111.27|   9286.68| 8.195745950113496| 819.5745950113496|
| 16|    99172.96|    7990.1|12.411979825033479| 1241.197982503348|
| 17|   105693.84|  10306.73|10.254837373250293|1025.4837373250293|
| 18|    79992.09|  10880.36| 7.351970890669058| 735.1970890669058|
| 19|    80043.78|  10443.22| 7.664664729843861| 766.4664729843861|
+---+------------+----------+------------------+------------------+
only showing top 20 rows

In [24]:
#user defined functions on dataframes
def tot_vol(Total_Volume,AveragePrice):
    if Total_Volume<42000:
        volume_category='Small'
    elif Total_Volume>42000 and Total_Volume<850644:
        volume_category='Medium'
    else:
        volume_category='High'
    if AveragePrice<1.25:
        Price_Category='Low'
    elif AveragePrice>1.25 and AveragePrice<1.45:
        Price_Category='Medium'
    else:
        Price_Category='High'
    return volume_category,Price_Category

In [25]:
tot_vol(41000,1.34)

('Small', 'Medium')

In [26]:
#now we will apply this userf defined function to the dataframe
#user defined function are termed as UDFs in spark
from pyspark.sql.functions import udf,split
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType
avacado_df.columns
#df_udf=avacado_df.select('_c0','Date','AveragePrice','Total_Volume')
#we will applu udf to new dataframe df_udf

udfb=udf(tot_vol,StructType([
    StructField('volume_category',StringType(),nullable=True),
    StructField('Price_Category',StringType(),nullable=True)
]))

df2=avacado_df.select('_c0','Total_Volume','AveragePrice').withColumn("newcat",udfb("Total_Volume","AveragePrice"))
df2.show()
#both new values are returned into a a single colmn newcat as array

+---+------------+------------+----------------+
|_c0|Total_Volume|AveragePrice|          newcat|
+---+------------+------------+----------------+
|  0|    64236.62|        1.33|[Medium, Medium]|
|  1|    54876.98|        1.35|[Medium, Medium]|
|  2|   118220.22|        0.93|   [Medium, Low]|
|  3|    78992.15|        1.08|   [Medium, Low]|
|  4|     51039.6|        1.28|[Medium, Medium]|
|  5|    55979.78|        1.26|[Medium, Medium]|
|  6|    83453.76|        0.99|   [Medium, Low]|
|  7|   109428.33|        0.98|   [Medium, Low]|
|  8|    99811.42|        1.02|   [Medium, Low]|
|  9|    74338.76|        1.07|   [Medium, Low]|
| 10|    84843.44|        1.12|   [Medium, Low]|
| 11|    64489.17|        1.28|[Medium, Medium]|
| 12|     61007.1|        1.31|[Medium, Medium]|
| 13|   106803.39|        0.99|   [Medium, Low]|
| 14|    69759.01|        1.33|[Medium, Medium]|
| 15|    76111.27|        1.28|[Medium, Medium]|
| 16|    99172.96|        1.11|   [Medium, Low]|
| 17|   105693.84|        1.07|   [Medium, Low]|
| 18|    79992.09|        1.34|[Medium, Medium]|
| 19|    80043.78|        1.33|[Medium, Medium]|
+---+------------+------------+----------------+
only showing top 20 rows

In [27]:
df3=df2.select('_c0','Total_Volume','AveragePrice','newcat').withColumn('volume_category',df2.newcat.getItem('volume_category')).withColumn('price_category',df2.newcat.getItem('Price_Category'))
#df3.show()
df_final=df3.drop('newcat')
df_final.show()

+---+------------+------------+---------------+--------------+
|_c0|Total_Volume|AveragePrice|volume_category|price_category|
+---+------------+------------+---------------+--------------+
|  0|    64236.62|        1.33|         Medium|        Medium|
|  1|    54876.98|        1.35|         Medium|        Medium|
|  2|   118220.22|        0.93|         Medium|           Low|
|  3|    78992.15|        1.08|         Medium|           Low|
|  4|     51039.6|        1.28|         Medium|        Medium|
|  5|    55979.78|        1.26|         Medium|        Medium|
|  6|    83453.76|        0.99|         Medium|           Low|
|  7|   109428.33|        0.98|         Medium|           Low|
|  8|    99811.42|        1.02|         Medium|           Low|
|  9|    74338.76|        1.07|         Medium|           Low|
| 10|    84843.44|        1.12|         Medium|           Low|
| 11|    64489.17|        1.28|         Medium|        Medium|
| 12|     61007.1|        1.31|         Medium|        Medium|
| 13|   106803.39|        0.99|         Medium|           Low|
| 14|    69759.01|        1.33|         Medium|        Medium|
| 15|    76111.27|        1.28|         Medium|        Medium|
| 16|    99172.96|        1.11|         Medium|           Low|
| 17|   105693.84|        1.07|         Medium|           Low|
| 18|    79992.09|        1.34|         Medium|        Medium|
| 19|    80043.78|        1.33|         Medium|        Medium|
+---+------------+------------+---------------+--------------+
only showing top 20 rows

In [28]:
#upper casing newly added columns
from pyspark.sql.functions import concat,trim,upper
df_final=df_final.select('_c0','Total_Volume','AveragePrice',upper(df_final['volume_category']),upper(df_final['price_category']))
df_final.show()

+---+------------+------------+----------------------+---------------------+
|_c0|Total_Volume|AveragePrice|upper(volume_category)|upper(price_category)|
+---+------------+------------+----------------------+---------------------+
|  0|    64236.62|        1.33|                MEDIUM|               MEDIUM|
|  1|    54876.98|        1.35|                MEDIUM|               MEDIUM|
|  2|   118220.22|        0.93|                MEDIUM|                  LOW|
|  3|    78992.15|        1.08|                MEDIUM|                  LOW|
|  4|     51039.6|        1.28|                MEDIUM|               MEDIUM|
|  5|    55979.78|        1.26|                MEDIUM|               MEDIUM|
|  6|    83453.76|        0.99|                MEDIUM|                  LOW|
|  7|   109428.33|        0.98|                MEDIUM|                  LOW|
|  8|    99811.42|        1.02|                MEDIUM|                  LOW|
|  9|    74338.76|        1.07|                MEDIUM|                  LOW|
| 10|    84843.44|        1.12|                MEDIUM|                  LOW|
| 11|    64489.17|        1.28|                MEDIUM|               MEDIUM|
| 12|     61007.1|        1.31|                MEDIUM|               MEDIUM|
| 13|   106803.39|        0.99|                MEDIUM|                  LOW|
| 14|    69759.01|        1.33|                MEDIUM|               MEDIUM|
| 15|    76111.27|        1.28|                MEDIUM|               MEDIUM|
| 16|    99172.96|        1.11|                MEDIUM|                  LOW|
| 17|   105693.84|        1.07|                MEDIUM|                  LOW|
| 18|    79992.09|        1.34|                MEDIUM|               MEDIUM|
| 19|    80043.78|        1.33|                MEDIUM|               MEDIUM|
+---+------------+------------+----------------------+---------------------+
only showing top 20 rows

In [33]:
df_final.columns
df_final=df_final.withColumnRenamed('upper(volume_category)','volume_category').withColumnRenamed('upper(price_category)','price_category')
df_final.columns

['_c0', 'Total_Volume', 'AveragePrice', 'volume_category', 'price_category']

In [42]:
#update a column value
#using when clause
#orks as case statemen
from pyspark.sql.functions import when
df4=df_final.withColumn('volume_category',when (df_final['volume_category']=='MEDIUM','Med').
                       when (df_final['volume_category']=='SMALL','SMALL').
                      when (df_final['volume_category']=='HIGH','UP').otherwise(df_final['volume_category']))

df4.show()

+---+------------+------------+---------------+--------------+
|_c0|Total_Volume|AveragePrice|volume_category|price_category|
+---+------------+------------+---------------+--------------+
|  0|    64236.62|        1.33|            Med|        MEDIUM|
|  1|    54876.98|        1.35|            Med|        MEDIUM|
|  2|   118220.22|        0.93|            Med|           LOW|
|  3|    78992.15|        1.08|            Med|           LOW|
|  4|     51039.6|        1.28|            Med|        MEDIUM|
|  5|    55979.78|        1.26|            Med|        MEDIUM|
|  6|    83453.76|        0.99|            Med|           LOW|
|  7|   109428.33|        0.98|            Med|           LOW|
|  8|    99811.42|        1.02|            Med|           LOW|
|  9|    74338.76|        1.07|            Med|           LOW|
| 10|    84843.44|        1.12|            Med|           LOW|
| 11|    64489.17|        1.28|            Med|        MEDIUM|
| 12|     61007.1|        1.31|            Med|        MEDIUM|
| 13|   106803.39|        0.99|            Med|           LOW|
| 14|    69759.01|        1.33|            Med|        MEDIUM|
| 15|    76111.27|        1.28|            Med|        MEDIUM|
| 16|    99172.96|        1.11|            Med|           LOW|
| 17|   105693.84|        1.07|            Med|           LOW|
| 18|    79992.09|        1.34|            Med|        MEDIUM|
| 19|    80043.78|        1.33|            Med|        MEDIUM|
+---+------------+------------+---------------+--------------+
only showing top 20 rows

In [43]:
df4.toDebugString

AttributeError: 'DataFrame' object has no attribute 'toDebugString'

In [44]:
spark.stop()