In [19]:
import findspark
findspark.init('D:\spark-2.3.3-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
print('modules imported')

modules imported

In [20]:
spark= SparkSession.builder.appName('spark_study').getOrCreate()
print('app name build')

app name build

In [42]:
#both of the below operations such as read.csv and rdd.filter are transformations
#spark will not show any results until an action is performed
sales_df=spark.read.csv("D:\python coding\pyspark_tutorial\sales.csv",inferSchema=True,header=True)
sales_df=sales_df.filter(sales_df.PROD_ID==128)
sales_df.show(10) #show() is performing an acton
sales_df.count()
type(sales_df) 

#.rdd will convert dataframe to rdd
sales_rdd=sales_df.rdd
#type(sales_rdd)

#sales_rdd.filter(sales_rdd.PROD_ID==128).show(10)
#so the transformation and action comes under the concept of lazy evaluation of spark
#which is a spark will not perform any operation until an action is performed

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|    128|  17942|01-JAN-98|         2|     999|            1|       29.8|
|    128|    254|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1786|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1949|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1971|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2079|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2383|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2748|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3685|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3960|01-JAN-98|         3|     999|            1|      39.19|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 10 rows

AttributeError: 'RDD' object has no attribute 'show'

In [7]:
sales_df=spark.read.csv("D:\python coding\pyspark_tutorial\sales.csv",inferSchema=True,header=True)
sales_df.show(5) #print top 10 rows of file

#printschema to see structure of a dataframe
#sales_df.printSchema()

cust_df=spark.read.csv("D:\python coding\pyspark_tutorial\cust.csv",inferSchema=True,header=True)
cust_df.show(5)       

chan_df=spark.read.csv("D:\python coding\pyspark_tutorial\channels.csv",inferSchema=True,header=True)
chan_df.show()

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|     13|    987|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1660|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1762|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1843|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1948|10-JAN-98|         3|     999|            1|    1232.16|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 5 rows

+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+------------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+-----------------+--------------+-------------+-----------+-------------+-----------+----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS| CUST_STREET_ADDRESS|CUST_POSTAL_CODE|   CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|       CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+------------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+-----------------+--------------+-------------+-----------+-------------+-----------+----------+
|  49671|        Abigail|         Ruddy|          M|              1976|            married|27 North Sagadaho...|           60332|         Ede|       51442|         Gelderland|                 52610|     52770|          519-236-6123|G: 130,000 - 149,999|             1500|Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|   3228|        Abigail|         Ruddy|          M|              1964|               null|37 West Geneva St...|           55406|   Hoofddorp|       51669|      Noord-Holland|                 52683|     52770|          327-194-5008|G: 130,000 - 149,999|             7000|Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|
|   6783|        Abigail|         Ruddy|          M|              1942|             single|    47 Toa Alta Road|           34077|   Schimmert|       52297|            Limburg|                 52646|     52770|          288-613-9676|G: 130,000 - 149,999|            11000|Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  10338|        Abigail|         Ruddy|          M|              1977|            married|47 South Kanabec ...|           72996|Scheveningen|       52296|       Zuid-Holland|                 52771|     52770|          222-269-1259|G: 130,000 - 149,999|             1500|Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  13894|        Abigail|         Ruddy|          M|              1949|               null|  57 North 3rd Drive|           67644|   Joinville|       51698|     Santa Catarina|                 52734|     52775|          675-133-2226|G: 130,000 - 149,999|             9000|Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+------------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+-----------------+--------------+-------------+-----------+-------------+-----------+----------+
only showing top 5 rows

+----------+------------+-------------+----------------+-------------+----------------+
|CHANNEL_ID|CHANNEL_DESC|CHANNEL_CLASS|CHANNEL_CLASS_ID|CHANNEL_TOTAL|CHANNEL_TOTAL_ID|
+----------+------------+-------------+----------------+-------------+----------------+
|         3|Direct Sales|       Direct|              12|Channel total|               1|
|         9|  Tele Sales|       Direct|              12|Channel total|               1|
|         5|     Catalog|     Indirect|              13|Channel total|               1|
|         4|    Internet|     Indirect|              13|Channel total|               1|
|         2|    Partners|       Others|              14|Channel total|               1|
+----------+------------+-------------+----------------+-------------+----------------+

In [8]:
#to select particular columns
sales_df.select('PROD_ID','CUST_ID','AMOUNT_SOLD').show()
cust_df.select('CUST_ID','CUST_FIRST_NAME','CUST_LAST_NAME').show()

+-------+-------+-----------+
|PROD_ID|CUST_ID|AMOUNT_SOLD|
+-------+-------+-----------+
|     13|    987|    1232.16|
|     13|   1660|    1232.16|
|     13|   1762|    1232.16|
|     13|   1843|    1232.16|
|     13|   1948|    1232.16|
|     13|   2273|    1232.16|
|     13|   2380|    1232.16|
|     13|   2683|    1232.16|
|     13|   2865|    1232.16|
|     13|   4663|    1232.16|
|     13|   5203|    1232.16|
|     13|   5321|    1232.16|
|     13|   5590|    1232.16|
|     13|   6277|    1232.16|
|     13|   6859|    1232.16|
|     13|   8540|    1232.16|
|     13|   9076|    1232.16|
|     13|  12099|    1232.16|
|     13|  35834|    1232.16|
|     13|    524|    1205.99|
+-------+-------+-----------+
only showing top 20 rows

+-------+---------------+--------------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|
+-------+---------------+--------------+
|  49671|        Abigail|         Ruddy|
|   3228|        Abigail|         Ruddy|
|   6783|        Abigail|         Ruddy|
|  10338|        Abigail|         Ruddy|
|  13894|        Abigail|         Ruddy|
|  17449|        Abigail|         Ruddy|
|  21005|        Abigail|         Ruddy|
|  24561|        Abigail|         Ruddy|
|  28116|        Abigail|         Ruddy|
|  31671|        Abigail|         Ruddy|
|  35227|        Abigail|         Ruddy|
|  36117|          Abner|       Everett|
|  39672|          Abner|       Everett|
|  43228|          Abner|       Everett|
|  25470|          Abner|       Everett|
|  47006|          Abner|       Everett|
|  50561|          Abner|       Everett|
|   4117|          Abner|       Everett|
|   7673|          Abner|       Everett|
|  11228|          Abner|       Everett|
+-------+---------------+--------------+
only showing top 20 rows

In [9]:
#Selecting Distinct Multiple Columns
sales_df.select('PROD_ID','AMOUNT_SOLD').distinct().show()

+-------+-----------+
|PROD_ID|AMOUNT_SOLD|
+-------+-----------+
|     36|      50.54|
|    131|      26.59|
|     18|    1378.25|
|     24|      46.73|
|     25|     133.92|
|     48|      12.75|
|    113|      24.71|
|    114|      18.05|
|    123|      51.44|
|    134|      26.67|
|     21|    1148.39|
|     29|     550.37|
|     41|      48.29|
|    134|      23.36|
|     23|      23.17|
|    117|       9.61|
|    135|      52.96|
|    145|      13.95|
|    127|      36.98|
|    128|      27.98|
+-------+-----------+
only showing top 20 rows

In [10]:
#count distinct prodids in dataframe
sales_df.select('PROD_ID').distinct().count()

72

In [11]:
#filter data 
sales_df.filter(sales_df.PROD_ID==128).show()
sales_df.filter(sales_df.PROD_ID==999).count() #print count of occurences

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|    128|  17942|01-JAN-98|         2|     999|            1|       29.8|
|    128|    254|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1786|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1949|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1971|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2079|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2383|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2748|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3685|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3960|01-JAN-98|         3|     999|            1|      39.19|
|    128|   4942|01-JAN-98|         3|     999|            1|      39.19|
|    128|   5085|01-JAN-98|         3|     999|            1|      39.19|
|    128|   5427|01-JAN-98|         3|     999|            1|      39.19|
|    128|   6913|01-JAN-98|         3|     999|            1|      39.19|
|    128|   7086|01-JAN-98|         3|     999|            1|      39.19|
|    128|   7873|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8027|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8236|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8268|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8686|01-JAN-98|         3|     999|            1|      39.19|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

0

In [12]:
#filtering data based on multiple columns
#and && not work , use &
sales_df.filter((sales_df.PROD_ID==128) & (sales_df.PROMO_ID==999)).show()
sales_df.filter((sales_df.PROD_ID==128) & (sales_df.PROMO_ID==999)).count() #doubt with output

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|    128|  17942|01-JAN-98|         2|     999|            1|       29.8|
|    128|    254|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1786|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1949|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1971|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2079|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2383|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2748|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3685|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3960|01-JAN-98|         3|     999|            1|      39.19|
|    128|   4942|01-JAN-98|         3|     999|            1|      39.19|
|    128|   5085|01-JAN-98|         3|     999|            1|      39.19|
|    128|   5427|01-JAN-98|         3|     999|            1|      39.19|
|    128|   6913|01-JAN-98|         3|     999|            1|      39.19|
|    128|   7086|01-JAN-98|         3|     999|            1|      39.19|
|    128|   7873|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8027|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8236|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8268|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8686|01-JAN-98|         3|     999|            1|      39.19|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

18316

In [13]:
#sorting data 
sales_df.orderBy(sales_df.CUST_ID).show()

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|    131|      2|01-NOV-98|         3|     999|            1|      26.02|
|     31|      2|02-OCT-98|         2|     999|            1|       9.71|
|    131|      2|04-OCT-98|         3|     999|            1|      26.02|
|    126|      2|05-DEC-98|         3|     999|            1|      30.12|
|    128|      2|05-OCT-98|         2|     999|            1|      38.35|
|    128|      2|05-DEC-98|         3|     999|            1|      38.35|
|    113|      2|04-OCT-98|         3|     999|            1|      27.13|
|    125|      2|05-OCT-98|         3|     999|            1|      16.61|
|     18|      2|05-NOV-98|         4|     999|            1|    1702.99|
|    127|      2|05-OCT-98|         2|     999|            1|      50.68|
|     30|      2|02-OCT-98|         2|     999|            1|      10.79|
|    128|      2|05-OCT-98|         3|     999|            1|      38.35|
|     40|      2|04-OCT-98|         3|     999|            1|      49.49|
|     48|      2|04-OCT-98|         3|     999|            1|      12.95|
|    130|      2|01-NOV-98|         3|     999|            1|     123.29|
|    120|      2|01-NOV-98|         3|     999|            1|       8.88|
|    127|      2|05-OCT-98|         3|     999|            1|      50.68|
|     15|      2|05-NOV-98|         2|     999|            1|     999.99|
|    125|      2|05-DEC-98|         3|     999|            1|      16.61|
|     23|      2|02-NOV-98|         3|     999|            1|      23.75|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

In [45]:
#grouping the data
group_df=sales_df.groupby('PROD_ID').count().show()

+-------+-----+
|PROD_ID|count|
+-------+-----+
|    148|15191|
|     31|23108|
|    137|10225|
|    133|16732|
|     34|13043|
|    115|10823|
|    126|12292|
|     28|16796|
|     26|15950|
|     27|12163|
|     44| 6113|
|     22| 3441|
|    128|19233|
|    122| 4019|
|     47|12837|
|    140|14769|
|    132|14183|
|    146|12742|
|     13| 6002|
|     16| 6929|
+-------+-----+
only showing top 20 rows

In [50]:
#pyspark dataframe joins
sales_df.show()
cust_df.show()

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|     13|    987|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1660|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1762|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1843|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1948|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2273|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2380|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2683|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2865|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   4663|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   5203|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   5321|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   5590|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   6277|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   6859|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   8540|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   9076|10-JAN-98|         3|     999|            1|    1232.16|
|     13|  12099|10-JAN-98|         3|     999|            1|    1232.16|
|     13|  35834|10-JAN-98|         3|     999|            1|    1232.16|
|     13|    524|20-JAN-98|         2|     999|            1|    1205.99|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+------------------+------------+--------------------+----------------------+----------+----------------------+--------------------+-----------------+-------------------+--------------+-------------+-----------+-------------+-----------+----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS| CUST_STREET_ADDRESS|CUST_POSTAL_CODE|         CUST_CITY|CUST_CITY_ID| CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|         CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+------------------+------------+--------------------+----------------------+----------+----------------------+--------------------+-----------------+-------------------+--------------+-------------+-----------+-------------+-----------+----------+
|  49671|        Abigail|         Ruddy|          M|              1976|            married|27 North Sagadaho...|           60332|               Ede|       51442|          Gelderland|                 52610|     52770|          519-236-6123|G: 130,000 - 149,999|             1500|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|   3228|        Abigail|         Ruddy|          M|              1964|               null|37 West Geneva St...|           55406|         Hoofddorp|       51669|       Noord-Holland|                 52683|     52770|          327-194-5008|G: 130,000 - 149,999|             7000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|
|   6783|        Abigail|         Ruddy|          M|              1942|             single|    47 Toa Alta Road|           34077|         Schimmert|       52297|             Limburg|                 52646|     52770|          288-613-9676|G: 130,000 - 149,999|            11000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  10338|        Abigail|         Ruddy|          M|              1977|            married|47 South Kanabec ...|           72996|      Scheveningen|       52296|        Zuid-Holland|                 52771|     52770|          222-269-1259|G: 130,000 - 149,999|             1500|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  13894|        Abigail|         Ruddy|          M|              1949|               null|  57 North 3rd Drive|           67644|         Joinville|       51698|      Santa Catarina|                 52734|     52775|          675-133-2226|G: 130,000 - 149,999|             9000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  17449|        Abigail|         Ruddy|          M|              1950|             single|67 East Mcintosh ...|           83786|            Nagoya|       51971|               Aichi|                 52543|     52782|          183-207-2933|G: 130,000 - 149,999|             9000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|
|  21005|        Abigail|         Ruddy|          M|              1946|            married|  77 Bradford Avenue|           52773|            Santos|       52293|           Sao Paulo|                 52735|     52775|          129-379-7148|G: 130,000 - 149,999|             3000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  24561|        Abigail|         Ruddy|          M|              1978|               null|77 North Packard ...|           37400|          Yokohama|       52526|            Kanagawa|                 52634|     52782|          689-236-7611|G: 130,000 - 149,999|             7000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|
|  28116|        Abigail|         Ruddy|          M|              1949|             single|87 West Coshocton...|           71349|           Haarlem|       51644|       Noord-Holland|                 52683|     52770|          208-194-6025|G: 130,000 - 149,999|            11000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  31671|        Abigail|         Ruddy|          M|              1951|            married| 97 Sagadahoc Avenue|           55056|            Bolton|       51205|England - Greater...|                 52590|     52789|          391-613-8000|G: 130,000 - 149,999|             1500|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  35227|        Abigail|         Ruddy|          M|              1948|               null|97 South Geneva A...|           81402|          Lelystad|       51793|         Flevopolder|                 52599|     52770|          587-269-1680|G: 130,000 - 149,999|             9000|  Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  36117|          Abner|       Everett|          M|              1954|               null|107 Covington Avenue|           80841|     Wolverhampton|       52514|England - West Mi...|                 52593|     52789|          258-692-7934|K: 250,000 - 299,999|            15000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  39672|          Abner|       Everett|          M|              1975|            married|107 North Saguach...|           34216|            Murnau|       51934|              Bayern|                 52561|     52776|          167-248-1619|K: 250,000 - 299,999|            11000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  43228|          Abner|       Everett|          M|              1957|            married|117 West Gloucest...|           72059|       Los Angeles|       51806|                  CA|                 52567|     52790|          620-711-8237|K: 250,000 - 299,999|             7000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  25470|          Abner|       Everett|          M|              1966|             single|17 West Mckenzie ...|           84773|         Stuttgart|       52331|  Baden-Wuerttemberg|                 52559|     52776|          103-711-9009|K: 250,000 - 299,999|            15000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  47006|          Abner|       Everett|          M|              1985|               null|27 East Braxton B...|           55787|           Montara|       51919|                  CA|                 52567|     52790|          454-716-5260|K: 250,000 - 299,999|            11000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  50561|          Abner|       Everett|          M|              1960|            married|27 South Page Bou...|           55646|             Neuss|       51975| Nordrhein-Westfalen|                 52684|     52776|          526-349-7669|K: 250,000 - 299,999|             7000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|   4117|          Abner|       Everett|          M|              1972|             single|37 North Covingto...|           91906|Clermont-l'Herault|       51329|Languedoc-Roussillon|                 52645|     52779|          155-204-1940|K: 250,000 - 299,999|            15000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|
|   7673|          Abner|       Everett|          M|              1988|               null|47 East Saguache ...|           68644|Schwaebisch Gmuend|       52300|  Baden-Wuerttemberg|                 52559|     52776|          230-226-8711|K: 250,000 - 299,999|            11000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
|  11228|          Abner|       Everett|          M|              1956|            married| 57 Gloucester Drive|           51430|        Ingolstadt|       51680|              Bayern|                 52561|     52776|          630-692-5246|K: 250,000 - 299,999|             7000|Everett@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+------------------+------------+--------------------+----------------------+----------+----------------------+--------------------+-----------------+-------------------+--------------+-------------+-----------+-------------+-----------+----------+
only showing top 20 rows

In [59]:
#inner join or equi join
#giving alias to dataframes
sales=sales_df.alias('sales')
cust=cust_df.alias('cust')

inner_join=cust.join(sales, cust.CUST_ID==sales.CUST_ID)
inner_join.show(5)

+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS|CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|          CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     18|    148|10-JUN-98|         2|     999|            1|    1378.25|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     29|    148|10-JUN-98|         4|     999|            1|     553.99|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    125|    148|11-MAY-98|         2|     999|            1|      16.42|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    126|    148|11-MAY-98|         4|     999|            1|      29.77|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    127|    148|11-MAY-98|         2|     999|            1|      38.84|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 5 rows

In [60]:
#left outer join
left_join=cust.join(sales, cust.CUST_ID==sales.CUST_ID, how='left')
left_join.show(5)

+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS|CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|          CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     18|    148|10-JUN-98|         2|     999|            1|    1378.25|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     29|    148|10-JUN-98|         4|     999|            1|     553.99|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    125|    148|11-MAY-98|         2|     999|            1|      16.42|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    126|    148|11-MAY-98|         4|     999|            1|      29.77|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    127|    148|11-MAY-98|         2|     999|            1|      38.84|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 5 rows

In [65]:
#left outer join with filter condition
left_join=cust.join(sales,cust.CUST_ID==sales.CUST_ID, how='left')
left_join.filter(cust.CUST_ID==49671).show()

+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+-----------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+-------+----------+--------+-------------+-----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS| CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|       CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+-----------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+-------+----------+--------+-------------+-----------+
|  49671|        Abigail|         Ruddy|          M|              1976|            married|27 North Sagadaho...|           60332|      Ede|       51442|         Gelderland|                 52610|     52770|          519-236-6123|G: 130,000 - 149,999|             1500|Ruddy@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         I|   null|   null|   null|      null|    null|         null|       null|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+-----------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+-------+----------+--------+-------------+-----------+

In [67]:
#right outer join
right_join=cust.join(sales, cust.CUST_ID==sales.CUST_ID, how='right')
right_join.show(5)

+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS|CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|          CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     18|    148|10-JUN-98|         2|     999|            1|    1378.25|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     29|    148|10-JUN-98|         4|     999|            1|     553.99|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    125|    148|11-MAY-98|         2|     999|            1|      16.42|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    126|    148|11-MAY-98|         4|     999|            1|      29.77|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    127|    148|11-MAY-98|         2|     999|            1|      38.84|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 5 rows

In [71]:
#full outer join
full_outer=cust.join(sales, cust.CUST_ID==sales.CUST_ID, how='full')
full_outer.show(5)

+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS|CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|          CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     18|    148|10-JUN-98|         2|     999|            1|    1378.25|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     29|    148|10-JUN-98|         4|     999|            1|     553.99|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    125|    148|11-MAY-98|         2|     999|            1|      16.42|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    126|    148|11-MAY-98|         4|     999|            1|      29.77|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    127|    148|11-MAY-98|         2|     999|            1|      38.84|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 5 rows

In [74]:
cross=cust.join(sales, cust.CUST_ID==sales.CUST_ID, how='cross')
cross.show(5)

+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS|CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|          CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     18|    148|10-JUN-98|         2|     999|            1|    1378.25|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|     29|    148|10-JUN-98|         4|     999|            1|     553.99|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    125|    148|11-MAY-98|         2|     999|            1|      16.42|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    126|    148|11-MAY-98|         4|     999|            1|      29.77|
|    148|           Riva|        Austin|          F|              1971|            married|1847 Such Boulevard|           66437|    Asten|       51075|      Noord-Brabant|                 52682|     52770|        (546) 476-8524|F: 110,000 - 129,999|             7000|riva.austin@compa...|Customer total|        52772|       null|    01-JAN-98|       null|         A|    127|    148|11-MAY-98|         2|     999|            1|      38.84|
+-------+---------------+--------------+-----------+------------------+-------------------+-------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+--------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 5 rows

In [85]:
chan=spark.read.csv("D:\python coding\pyspark_tutorial\channels.csv",inferSchema=True,header=True)
chan.show(5)

+----------+------------+-------------+----------------+-------------+----------------+
|CHANNEL_ID|CHANNEL_DESC|CHANNEL_CLASS|CHANNEL_CLASS_ID|CHANNEL_TOTAL|CHANNEL_TOTAL_ID|
+----------+------------+-------------+----------------+-------------+----------------+
|         3|Direct Sales|       Direct|              12|Channel total|               1|
|         9|  Tele Sales|       Direct|              12|Channel total|               1|
|         5|     Catalog|     Indirect|              13|Channel total|               1|
|         4|    Internet|     Indirect|              13|Channel total|               1|
|         2|    Partners|       Others|              14|Channel total|               1|
+----------+------------+-------------+----------------+-------------+----------------+

In [90]:
#multiple join conditions
inter_join=cust.join(sales, cust.CUST_ID==sales.CUST_ID,how='inner')
multiple_join=inter_join.join(chan, inter_join.CHANNEL_ID==chan.CHANNEL_ID, how='inner')
#multiple_join.show(5)
multiple_join.filter(cust.CUST_ID==2380).show() #no cust_id for 49671 so zero records

+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+----------+------------+-------------+----------------+-------------+----------------+
|CUST_ID|CUST_FIRST_NAME|CUST_LAST_NAME|CUST_GENDER|CUST_YEAR_OF_BIRTH|CUST_MARITAL_STATUS| CUST_STREET_ADDRESS|CUST_POSTAL_CODE|CUST_CITY|CUST_CITY_ID|CUST_STATE_PROVINCE|CUST_STATE_PROVINCE_ID|COUNTRY_ID|CUST_MAIN_PHONE_NUMBER|   CUST_INCOME_LEVEL|CUST_CREDIT_LIMIT|        CUST_EMAIL|    CUST_TOTAL|CUST_TOTAL_ID|CUST_SRC_ID|CUST_EFF_FROM|CUST_EFF_TO|CUST_VALID|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|CHANNEL_ID|CHANNEL_DESC|CHANNEL_CLASS|CHANNEL_CLASS_ID|CHANNEL_TOTAL|CHANNEL_TOTAL_ID|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+----------+------------+-------------+----------------+-------------+----------------+
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     13|   2380|10-JAN-98|         3|     999|            1|    1232.16|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     13|   2380|10-MAR-98|         3|     999|            1|    1232.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     14|   2380|05-FEB-98|         2|     999|            1|    1259.99|         2|    Partners|       Others|              14|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     14|   2380|05-FEB-98|         3|     999|            1|    1259.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     18|   2380|05-FEB-98|         3|     999|            1|    1728.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     23|   2380|10-FEB-98|         3|     999|            1|      23.75|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     25|   2380|10-FEB-98|         3|     999|            1|     126.55|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     26|   2380|10-FEB-98|         3|     999|            1|     167.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     26|   2380|13-MAR-98|         3|     999|            1|     167.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     27|   2380|13-MAR-98|         3|     999|            1|      48.59|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     28|   2380|10-FEB-98|         3|     999|            1|     213.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     28|   2380|13-MAR-98|         3|     999|            1|     213.99|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     30|   2380|07-JAN-98|         3|     999|            1|      10.94|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     30|   2380|10-MAR-98|         3|     999|            1|      10.79|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     31|   2380|08-JAN-98|         3|     999|            1|       9.71|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     31|   2380|10-MAR-98|         3|     999|            1|       9.71|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     32|   2380|10-JAN-98|         3|     999|            1|      73.43|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     32|   2380|10-MAR-98|         3|     999|            1|      73.43|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     40|   2380|10-JAN-98|         3|     999|            1|      46.79|         3|Direct Sales|       Direct|              12|Channel total|               1|
|   2380|         Baxter|        Barlow|          M|              1974|             single|37 East Las Piedr...|           43660| Sabadell|       52278|          Barcelona|                 52560|     52778|          329-157-9648|K: 250,000 - 299,999|             9000|Barlow@company.com|Customer total|        52772|       null|    01-JAN-98|       null|         A|     40|   2380|04-FEB-98|         3|     999|            1|      48.36|         3|Direct Sales|       Direct|              12|Channel total|               1|
+-------+---------------+--------------+-----------+------------------+-------------------+--------------------+----------------+---------+------------+-------------------+----------------------+----------+----------------------+--------------------+-----------------+------------------+--------------+-------------+-----------+-------------+-----------+----------+-------+-------+---------+----------+--------+-------------+-----------+----------+------------+-------------+----------------+-------------+----------------+
only showing top 20 rows

In [106]:
emp_df1=spark.read.csv('D:\\python coding\\pyspark_tutorial\\emp.csv',inferSchema=True,header=True)
e1=emp_df1.select('EMPNO','ENAME','MGR')

emp_df2=spark.read.csv('D:\\python coding\\pyspark_tutorial\\emp.csv',inferSchema=True,header=True)
e2=emp_df2.select('EMPNO','ENAME','MGR')

In [108]:
#self-join
self_join=e1.join(e2, e1.MGR==e2.EMPNO, how='inner')
self_join.show()

+-----+------+----+-----+-----+----+
|EMPNO| ENAME| MGR|EMPNO|ENAME| MGR|
+-----+------+----+-----+-----+----+
| 7369| SMITH|7902| 7902| FORD|7566|
| 7499| ALLEN|7698| 7698|BLAKE|7839|
| 7521|  WARD|7698| 7698|BLAKE|7839|
| 7566| JONES|7839| 7839| KING|null|
| 7654|MARTIN|7698| 7698|BLAKE|7839|
| 7698| BLAKE|7839| 7839| KING|null|
| 7782| CLARK|7839| 7839| KING|null|
| 7788| SCOTT|7566| 7566|JONES|7839|
| 7844|TURNER|7698| 7698|BLAKE|7839|
| 7876| ADAMS|7788| 7788|SCOTT|7566|
| 7900| JAMES|7698| 7698|BLAKE|7839|
| 7902|  FORD|7566| 7566|JONES|7839|
| 7934|MILLER|7782| 7782|CLARK|7839|
+-----+------+----+-----+-----+----+

In [110]:
#union operation
union_df=e1.union(e2)
union_df.show()

+-----+------+----+
|EMPNO| ENAME| MGR|
+-----+------+----+
| 7369| SMITH|7902|
| 7499| ALLEN|7698|
| 7521|  WARD|7698|
| 7566| JONES|7839|
| 7654|MARTIN|7698|
| 7698| BLAKE|7839|
| 7782| CLARK|7839|
| 7788| SCOTT|7566|
| 7839|  KING|null|
| 7844|TURNER|7698|
| 7876| ADAMS|7788|
| 7900| JAMES|7698|
| 7902|  FORD|7566|
| 7934|MILLER|7782|
| 7369| SMITH|7902|
| 7499| ALLEN|7698|
| 7521|  WARD|7698|
| 7566| JONES|7839|
| 7654|MARTIN|7698|
| 7698| BLAKE|7839|
+-----+------+----+
only showing top 20 rows

In [137]:
#loading bigdata into memory using spark context
sale_rdd=spark.read.csv("D:\python coding\pyspark_tutorial\sales_big_data.csv",inferSchema=True,header=True)
#sale_rdd.filter(sale_rdd.PROD_ID==128)
#sale_rdd.count()
#sale_rdd.show()
sale_rdd=sale_rdd.filter(sale_rdd.PROD_ID==128)
sale_rdd.show()
sale_rdd.rdd.id()
sale_rdd.columns  #print the name of columns rpesent in dataframe

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|    128|  17942|01-JAN-98|         2|     999|            1|       29.8|
|    128|    254|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1786|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1949|01-JAN-98|         3|     999|            1|      39.19|
|    128|   1971|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2079|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2383|01-JAN-98|         3|     999|            1|      39.19|
|    128|   2748|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3685|01-JAN-98|         3|     999|            1|      39.19|
|    128|   3960|01-JAN-98|         3|     999|            1|      39.19|
|    128|   4942|01-JAN-98|         3|     999|            1|      39.19|
|    128|   5085|01-JAN-98|         3|     999|            1|      39.19|
|    128|   5427|01-JAN-98|         3|     999|            1|      39.19|
|    128|   6913|01-JAN-98|         3|     999|            1|      39.19|
|    128|   7086|01-JAN-98|         3|     999|            1|      39.19|
|    128|   7873|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8027|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8236|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8268|01-JAN-98|         3|     999|            1|      39.19|
|    128|   8686|01-JAN-98|         3|     999|            1|      39.19|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

['PROD_ID',
 'CUST_ID',
 'TIME_ID',
 'CHANNEL_ID',
 'PROMO_ID',
 'QUANTITY_SOLD',
 'AMOUNT_SOLD']

In [140]:
sale_rdd.describe()
#creates a new rdd from an existing rdd
sale_new_rdd=sale_rdd.select('PROD_ID','CUST_ID','AMOUNT_SOLD')
#describe return a dataframe which contains a stats of dataframe
sale_new_rdd.describe().show()

+-------+--------------------+------------------+------------------+
|summary|             PROD_ID|           CUST_ID|       AMOUNT_SOLD|
+-------+--------------------+------------------+------------------+
|  count|               96165|             96165|             96165|
|   mean|               128.0| 7815.529766547081| 32.11835283107212|
| stddev|1.144599793453653...|12041.951696347629|3.9918085633907463|
|    min|                 128|                 2|             25.72|
|    max|                 128|            100994|             39.74|
+-------+--------------------+------------------+------------------+

In [22]:
emp_rdd=spark.read.csv('D:\\python coding\\pyspark_tutorial\\emp.csv',inferSchema=True,header=True)
emp_rdd.show()
emp_rdd.describe().show() #show table statistical summary
#spark count operation ignore nulls during count
emp_rdd.select('COMM').count()
#emp_rdd.select('COMM').sum()

+-----+------+---------+----+---------+----+----+------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+---------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-DEC-80| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-FEB-81|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-FEB-81|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-APR-81|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-SEP-81|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839|01-MAY-81|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|09-JUN-81|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-APR-87|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-NOV-81|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-SEP-81|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-MAY-87|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-DEC-81| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-DEC-81|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-JAN-82|1300|null|    10|
+-----+------+---------+----+---------+----+----+------+

+-------+------------------+-----+--------+-----------------+---------+------------------+-----------------+------------------+
|summary|             EMPNO|ENAME|     JOB|              MGR| HIREDATE|               SAL|             COMM|            DEPTNO|
+-------+------------------+-----+--------+-----------------+---------+------------------+-----------------+------------------+
|  count|                14|   14|      14|               13|       14|                14|                4|                14|
|   mean| 7726.571428571428| null|    null|7739.307692307692|     null| 2073.214285714286|            550.0|22.142857142857142|
| stddev|178.29436087795625| null|    null|103.7146603389837|     null|1182.5032235162716|602.7713773341708| 8.017837257372733|
|    min|              7369|ADAMS| ANALYST|             7566|01-MAY-81|               800|                0|                10|
|    max|              7934| WARD|SALESMAN|             7902|28-SEP-81|              5000|             1400|                30|
+-------+------------------+-----+--------+-----------------+---------+------------------+-----------------+------------------+

14

In [15]:
#RDDs group by operations
#deptwise sum of salary
sal_rdd=emp_rdd.select('DEPTNO','SAL')
sal_grp=sal_rdd.groupBy('DEPTNO')
sal_grp.agg({'SAL':'sum'}).show()

+------+--------+
|DEPTNO|sum(SAL)|
+------+--------+
|    20|   10875|
|    10|    8750|
|    30|    9400|
+------+--------+

In [16]:
#deptwise sum of salary of employees
count_rdd=emp_rdd.select('DEPTNO','SAL')
count_grp=count_rdd.groupBy('DEPTNO')
count_grp.agg({'SAL':'sum'}).show()
#emp_ct_join=emp_rdd.join(ct_rdd, emp_rdd.DEPTNO==ct_rdd.DEPTNO, how='inner')
#emp_ct_join.show()
#using sql inline view join data with original dataframe

+------+--------+
|DEPTNO|sum(SAL)|
+------+--------+
|    20|   10875|
|    10|    8750|
|    30|    9400|
+------+--------+

In [166]:
#row object
emp_rdd.show()
emp_rdd.head(2) #will fetch first two rows of rdd
emp_rdd.head(2)[0] # will fetch  elemnt present at 0th index position of above returned rows
emp_rdd.head(2)[0][1] #will fetch first element of 2nd element of list

+-----+------+---------+----+---------+----+----+------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+---------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-DEC-80| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-FEB-81|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-FEB-81|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-APR-81|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-SEP-81|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839|01-MAY-81|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|09-JUN-81|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-APR-87|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-NOV-81|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-SEP-81|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-MAY-87|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-DEC-81| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-DEC-81|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-JAN-82|1300|null|    10|
+-----+------+---------+----+---------+----+----+------+

'SMITH'

In [18]:
#show select columns of rdd using select method
emp_rdd.select('EMPNO','SAL').show()

#add a new column to a rdd
#withColumn method returns a new rdd or dataframe 
#can alos perform mathematical operation such as mult or sum
emp_new_rdd=emp_rdd.withColumn('comm_sal',(emp_rdd['sal']/emp_rdd['comm'])*100).show()

#rename a column
#withcolumnrenamed func is invalid
#emp_new_rdd.withColumnRenamed('comm_sal','sal_%').show()

+-----+----+
|EMPNO| SAL|
+-----+----+
| 7369| 800|
| 7499|1600|
| 7521|1250|
| 7566|2975|
| 7654|1250|
| 7698|2850|
| 7782|2450|
| 7788|3000|
| 7839|5000|
| 7844|1500|
| 7876|1100|
| 7900| 950|
| 7902|3000|
| 7934|1300|
+-----+----+

+-----+------+---------+----+---------+----+----+------+-----------------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|         comm_sal|
+-----+------+---------+----+---------+----+----+------+-----------------+
| 7369| SMITH|    CLERK|7902|17-DEC-80| 800|null|    20|             null|
| 7499| ALLEN| SALESMAN|7698|20-FEB-81|1600| 300|    30|533.3333333333333|
| 7521|  WARD| SALESMAN|7698|22-FEB-81|1250| 500|    30|            250.0|
| 7566| JONES|  MANAGER|7839|02-APR-81|2975|null|    20|             null|
| 7654|MARTIN| SALESMAN|7698|28-SEP-81|1250|1400|    30|89.28571428571429|
| 7698| BLAKE|  MANAGER|7839|01-MAY-81|2850|null|    30|             null|
| 7782| CLARK|  MANAGER|7839|09-JUN-81|2450|null|    10|             null|
| 7788| SCOTT|  ANALYST|7566|19-APR-87|3000|null|    20|             null|
| 7839|  KING|PRESIDENT|null|17-NOV-81|5000|null|    10|             null|
| 7844|TURNER| SALESMAN|7698|08-SEP-81|1500|   0|    30|             null|
| 7876| ADAMS|    CLERK|7788|23-MAY-87|1100|null|    20|             null|
| 7900| JAMES|    CLERK|7698|03-DEC-81| 950|null|    30|             null|
| 7902|  FORD|  ANALYST|7566|03-DEC-81|3000|null|    20|             null|
| 7934|MILLER|    CLERK|7782|23-JAN-82|1300|null|    10|             null|
+-----+------+---------+----+---------+----+----+------+-----------------+

AttributeError: 'NoneType' object has no attribute 'show'

In [201]:
#filter data with selective columns to display
emp_30=emp_rdd.filter(emp_rdd.DEPTNO==30).select('EMPNO','ENAME','DEPTNO','SAL').show()

#group by data
emp_rdd.groupBy('DEPTNO').count().show() #count will work fine
#emp_rdd.groupBy('DEPTNO').sum().show() #but with this syntax output will not be as desired
#above issue is fixed by below syntax
emp_sal=emp_rdd.select('DEPTNO','SAL')
emp_grp=emp_sal.groupBy('DEPTNO')
emp_grp.agg({'SAL':'sum'}).show()

+-----+------+------+----+
|EMPNO| ENAME|DEPTNO| SAL|
+-----+------+------+----+
| 7499| ALLEN|    30|1600|
| 7521|  WARD|    30|1250|
| 7654|MARTIN|    30|1250|
| 7698| BLAKE|    30|2850|
| 7844|TURNER|    30|1500|
| 7900| JAMES|    30| 950|
+-----+------+------+----+

+------+-----+
|DEPTNO|count|
+------+-----+
|    20|    5|
|    10|    3|
|    30|    6|
+------+-----+

+------+--------+
|DEPTNO|sum(SAL)|
+------+--------+
|    20|   10875|
|    10|    8750|
|    30|    9400|
+------+--------+

In [210]:
#count distinct values
from pyspark.sql.functions import countDistinct,stddev,avg
sales_df.show()
sales_df.select('PROD_ID').count() #values 4594215
sales_df.select(countDistinct('PROD_ID')).show() #distinct valu for prod_id 72
sales_df.select(avg('AMOUNT_SOLD').alias('AVERAGE_SALES')).show()

#sales value on basis of cust_id
sales_rdd=sales_df.select('CUST_ID','AMOUNT_SOLD')
sales_grp=sales_rdd.groupBy('CUST_ID')
sales_grp.agg({'AMOUNT_SOLD':'sum'}).show()

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|     13|    987|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1660|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1762|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1843|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   1948|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2273|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2380|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2683|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   2865|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   4663|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   5203|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   5321|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   5590|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   6277|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   6859|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   8540|10-JAN-98|         3|     999|            1|    1232.16|
|     13|   9076|10-JAN-98|         3|     999|            1|    1232.16|
|     13|  12099|10-JAN-98|         3|     999|            1|    1232.16|
|     13|  35834|10-JAN-98|         3|     999|            1|    1232.16|
|     13|    524|20-JAN-98|         2|     999|            1|    1205.99|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

+-----------------------+
|count(DISTINCT PROD_ID)|
+-----------------------+
|                     72|
+-----------------------+

+------------------+
|     AVERAGE_SALES|
+------------------+
|106.87988177524083|
+------------------+

+-------+------------------+
|CUST_ID|  sum(AMOUNT_SOLD)|
+-------+------------------+
|   1580| 51631.79999999999|
|   1959|169312.75000000006|
|   2142| 139691.4000000001|
|  33722|  93086.5500000001|
|  33717|32266.849999999984|
|   7993| 245281.7499999999|
|   1591|196730.89999999997|
|   2866| 90010.45000000004|
|   8638|202157.04999999987|
|   7554|207733.05000000005|
|   3794|38171.849999999984|
|   1342| 51206.39999999999|
|   1645| 41696.60000000002|
|   9465| 20534.90000000001|
|   3997| 48892.70000000003|
|   7340|32416.000000000004|
|   4900|233052.65000000008|
|   7240|199544.69999999998|
|  11141|62859.600000000035|
|    463| 42749.70000000001|
+-------+------------------+
only showing top 20 rows

In [212]:
#ordering data asc and desc 
sales_df.orderBy("CUST_ID").show() #default syntax is for ascending order
sales_df.orderBy(sales_df.CUST_ID.desc()).show() #ordering by descending

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|     18|      2|04-APR-01|         3|     999|            1|    1469.89|
|     18|      2|05-MAY-01|         3|     999|            1|    1466.98|
|     18|      2|04-JUN-01|         2|     999|            1|     1514.8|
|     18|      2|05-MAY-01|         4|     999|            1|    1381.32|
|     18|      2|04-JUN-01|         3|     999|            1|    1522.41|
|     18|      2|05-JAN-01|         3|     999|            1|    1538.01|
|     18|      2|05-MAR-01|         3|     999|            1|    1499.63|
|     18|      2|05-MAR-01|         4|     999|            1|    1434.61|
|     18|      2|05-MAR-01|         4|     999|            1|    1434.61|
|     18|      2|05-JAN-01|         3|     999|            1|    1538.01|
|     18|      2|05-SEP-01|         3|     999|            1|    1499.06|
|     18|      2|05-SEP-01|         2|     999|            1|    1491.56|
|     18|      2|05-MAY-01|         4|     999|            1|    1381.32|
|     18|      2|04-JUN-01|         3|     999|            1|    1522.41|
|     18|      2|05-JAN-01|         2|     999|            1|    1545.78|
|     18|      2|05-MAY-01|         3|     999|            1|    1466.98|
|     18|      2|05-MAR-01|         3|     999|            1|    1499.63|
|     18|      2|04-JUN-01|         2|     999|            1|     1514.8|
|     18|      2|04-APR-01|         3|     999|            1|    1469.89|
|     18|      2|05-SEP-01|         4|     999|            1|    1204.26|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

+-------+-------+---------+----------+--------+-------------+-----------+
|PROD_ID|CUST_ID|  TIME_ID|CHANNEL_ID|PROMO_ID|QUANTITY_SOLD|AMOUNT_SOLD|
+-------+-------+---------+----------+--------+-------------+-----------+
|    116| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     27| 101000|30-JUN-00|         4|     350|            1|      44.99|
|    116| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     48| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     27| 101000|30-JUN-00|         4|     350|            1|      44.99|
|     48| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     48| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     48| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     27| 101000|30-JUN-00|         4|     350|            1|      44.99|
|     27| 101000|30-JUN-00|         4|     350|            1|      44.99|
|     27| 101000|30-JUN-00|         4|     350|            1|      44.99|
|     48| 101000|30-JUN-00|         4|     350|            1|      11.99|
|    116| 101000|30-JUN-00|         4|     350|            1|      11.99|
|    116| 101000|30-JUN-00|         4|     350|            1|      11.99|
|    116| 101000|30-JUN-00|         4|     350|            1|      11.99|
|     26| 100999|30-JUN-00|         4|     350|            1|     149.99|
|     35| 100999|30-JUN-00|         4|     350|            1|      49.99|
|    116| 100999|30-JUN-00|         4|     350|            1|      11.99|
|     35| 100999|30-JUN-00|         4|     350|            1|      49.99|
|     26| 100999|30-JUN-00|         4|     350|            1|     149.99|
+-------+-------+---------+----------+--------+-------------+-----------+
only showing top 20 rows

In [35]:
e1=spark.read.csv('D:\\python coding\\pyspark_tutorial\\emp.csv',inferSchema=True,header=True)
e1.show()

e_df=e1.select('EMPNO','ENAME','SAL','DEPTNO')

#sum of salary deptwise
e2=e1.select('DEPTNO','SAL')
emp_grp=e2.groupBy('DEPTNO')
#oracle type inline view operation using join
e_grp=emp_grp.agg({'SAL':'sum'})
e_df.join(e_grp, e_df.DEPTNO==e_grp.DEPTNO,how='inner').show()

comm_df=e1.select('DEPTNO','COMM')
#replacing null values of comm with 0
c1=comm_df.na.fill({'COMM': 0})
#taking sum of comm values
c1_sum=c1.agg({'COMM':'sum'})
comm_grp=comm_df.groupBy('DEPTNO')
#comm_grp.join(c1_sum, comm_grp.DEPTNO==c1_sum.DEPTNO).show()

+-----+------+---------+----+---------+----+----+------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+---------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-DEC-80| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-FEB-81|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-FEB-81|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-APR-81|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-SEP-81|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839|01-MAY-81|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|09-JUN-81|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-APR-87|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-NOV-81|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-SEP-81|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-MAY-87|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-DEC-81| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-DEC-81|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-JAN-82|1300|null|    10|
+-----+------+---------+----+---------+----+----+------+

+-----+------+----+------+------+--------+
|EMPNO| ENAME| SAL|DEPTNO|DEPTNO|sum(SAL)|
+-----+------+----+------+------+--------+
| 7369| SMITH| 800|    20|    20|   10875|
| 7499| ALLEN|1600|    30|    30|    9400|
| 7521|  WARD|1250|    30|    30|    9400|
| 7566| JONES|2975|    20|    20|   10875|
| 7654|MARTIN|1250|    30|    30|    9400|
| 7698| BLAKE|2850|    30|    30|    9400|
| 7782| CLARK|2450|    10|    10|    8750|
| 7788| SCOTT|3000|    20|    20|   10875|
| 7839|  KING|5000|    10|    10|    8750|
| 7844|TURNER|1500|    30|    30|    9400|
| 7876| ADAMS|1100|    20|    20|   10875|
| 7900| JAMES| 950|    30|    30|    9400|
| 7902|  FORD|3000|    20|    20|   10875|
| 7934|MILLER|1300|    10|    10|    8750|
+-----+------+----+------+------+--------+

AttributeError: 'GroupedData' object has no attribute 'join'