In [ ]:
#pyspark excel processing using crealytics package

In [2]:
import findspark
findspark.init('D:\spark-2.3.3-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder \
     .appName('Spark_DB') \
     .config("spark.jars.packages", "com.crealytics:spark-excel_2.11:0.12.2") \
     .getOrCreate()

In [1]:
spark.stop()

NameError: name 'spark' is not defined

In [14]:
emp_df=spark.read \
    .format("com.crealytics.spark.excel") \
    .option("dataAddress", "'Employees'!A1") \
    .option("useHeader", "true") \
    .load("D:\python_coding\pyspark_tutorial\demo_excel.xlsx")

emp_df.show(10)

+-----------+---------+---------+---------+-----+-------------+
|EMPLOYEE_ID|    FNAME|    LNAME|HIRE_DATE|  SAL|DEPARTMENT_ID|
+-----------+---------+---------+---------+-----+-------------+
|        100|   Steven|     King|17-Jun-03|24000|           90|
|        101|    Neena|  Kochhar|21-Sep-05|17000|           90|
|        102|      Lex|  De Haan|13-Jan-01|17000|           90|
|        103|Alexander|   Hunold| 3-Jan-06| 9000|           60|
|        104|    Bruce|    Ernst|21-May-07| 6000|           60|
|        105|    David|   Austin|25-Jun-05| 4800|           60|
|        106|    Valli|Pataballa| 5-Feb-06| 4800|           60|
|        107|    Diana|  Lorentz| 7-Feb-07| 4200|           60|
|        108|    Nancy|Greenberg|17-Aug-02|12008|          100|
|        109|   Daniel|   Faviet|16-Aug-02| 9000|          100|
+-----------+---------+---------+---------+-----+-------------+
only showing top 10 rows

In [5]:
dept_df=spark.read \
    .format("com.crealytics.spark.excel") \
    .option("dataAddress", "'Departments'!A1") \
    .option("useHeader", "true") \
    .load("D:\python_coding\pyspark_tutorial\demo_excel.xlsx")

dept_df.show(10)

+-------------+----------------+----------+-----------+
|DEPARTMENT_ID| DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+----------------+----------+-----------+
|           10|  Administration|       200|       1700|
|           20|       Marketing|       201|       1800|
|           30|      Purchasing|       114|       1700|
|           40| Human Resources|       203|       2400|
|           50|        Shipping|       121|       1500|
|           60|              IT|       103|       1400|
|           70|Public Relations|       204|       2700|
|           80|           Sales|       145|       2500|
|           90|       Executive|       100|       1700|
|          100|         Finance|       108|       1700|
+-------------+----------------+----------+-----------+
only showing top 10 rows

In [8]:
region_df=spark.read \
    .format("com.crealytics.spark.excel") \
    .option("dataAddress", "'Regions'!F5:G9") \
    .option("useHeader", "true") \
    .load("D:\python_coding\pyspark_tutorial\demo_excel.xlsx")

region_df.show(10)

+---------+--------------------+
|REGION_ID|         REGION_NAME|
+---------+--------------------+
|        1|              Europe|
|        2|            Americas|
|        3|                Asia|
|        4|Middle East and A...|
+---------+--------------------+

In [ ]:
#join emp and dept datasets and create an excel output

In [16]:
emp_dept_df= emp_df.join(dept_df,emp_df.DEPARTMENT_ID==dept_df.DEPARTMENT_ID,how='inner')
emp_dept_df.show(15)

+-----------+-----------+----------+---------+-----+-------------+-------------+----------------+----------+-----------+
|EMPLOYEE_ID|      FNAME|     LNAME|HIRE_DATE|  SAL|DEPARTMENT_ID|DEPARTMENT_ID| DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+-----------+----------+---------+-----+-------------+-------------+----------------+----------+-----------+
|        114|        Den|  Raphaely| 7-Dec-02|11000|           30|           30|      Purchasing|       114|       1700|
|        115|  Alexander|      Khoo|18-May-03| 3100|           30|           30|      Purchasing|       114|       1700|
|        116|     Shelli|     Baida|24-Dec-05| 2900|           30|           30|      Purchasing|       114|       1700|
|        117|      Sigal|    Tobias|24-Jul-05| 2800|           30|           30|      Purchasing|       114|       1700|
|        118|        Guy|    Himuro|15-Nov-06| 2600|           30|           30|      Purchasing|       114|       1700|
|        119|      Karen|Colmenares|10-Aug-07| 2500|           30|           30|      Purchasing|       114|       1700|
|        205|    Shelley|   Higgins| 7-Jun-02|12008|          110|          110|      Accounting|       205|       1700|
|        206|    William|     Gietz| 7-Jun-02| 8300|          110|          110|      Accounting|       205|       1700|
|        108|      Nancy| Greenberg|17-Aug-02|12008|          100|          100|         Finance|       108|       1700|
|        109|     Daniel|    Faviet|16-Aug-02| 9000|          100|          100|         Finance|       108|       1700|
|        110|       John|      Chen|28-Sep-05| 8200|          100|          100|         Finance|       108|       1700|
|        111|     Ismael|   Sciarra|30-Sep-05| 7700|          100|          100|         Finance|       108|       1700|
|        112|Jose Manuel|     Urman| 7-Mar-06| 7800|          100|          100|         Finance|       108|       1700|
|        113|       Luis|      Popp| 7-Dec-07| 6900|          100|          100|         Finance|       108|       1700|
|        204|    Hermann|      Baer| 7-Jun-02|10000|           70|           70|Public Relations|       204|       2700|
+-----------+-----------+----------+---------+-----+-------------+-------------+----------------+----------+-----------+
only showing top 15 rows

In [53]:
'''emp_dept_df.write \
      .format("com.crealytics.spark.excel") \
      .option("dataAddress", "'emp_dept'") \
      .option("useHeader", "true") \
      .mode("overwrite") \
      .save("D:\python_coding\pyspark_tutorial\output_demo.xlsx")'''

'emp_dept_df.write       .format("com.crealytics.spark.excel")       .option("dataAddress", "\'emp_dept\'")       .option("useHeader", "true")       .mode("overwrite")       .save("D:\\python_coding\\pyspark_tutorial\\output_demo.xlsx")'

In [52]:
emp_dept_df.write.format("com.crealytics.spark.excel") \
    .option("dataAddress", "emp_dept [#All]") \
    .option("useHeader", "true") \
    .mode("append") \
    .save("D:\python_coding\pyspark_tutorial\output_demo.xlsx")

In [47]:
region_df.write.format("com.crealytics.spark.excel") \
    .option("dataAddress", "region_details [#All]") \
    .option("useHeader", "true") \
    .mode("append") \
    .save("D:\python_coding\pyspark_tutorial\output_demo.xlsx")

In [22]:
    df.write
      .format("com.crealytics.spark.excel")
      .option("sheetName", "Daily")
      .option("useHeader", "true")
      .option("dateFormat", "yy-mmm-d") // Optional, default: yy-m-d h:mm
      .option("timestampFormat", "mm-dd-yyyy hh:mm:ss") // Optional, default: yyyy-mm-dd hh:mm:ss.000
      .mode("overwrite")
      .save("Worktime2.xlsx")