In [1]:
import findspark
findspark.init('D:\spark-2.3.3-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
print('modules imported')

modules imported

In [2]:
spark=SparkSession.builder.appName('Spark_window_functions').getOrCreate()

In [4]:
emp_df=spark.read.csv(r'emp.csv',header=True,inferSchema=True)
emp_df.show(10)

+-----+------+---------+----+---------+----+----+------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+---------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|
+-----+------+---------+----+---------+----+----+------+
only showing top 10 rows

In [24]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col,row_number,rank, dense_rank,avg

# top N salaries in a department using spark window function

In [11]:
win_func=Window.partitionBy(emp_df['DEPTNO']).orderBy(emp_df['SAL'].desc())

# row_number()

In [13]:
emp_df.withColumn('rank',row_number().over(win_func)).show()

+-----+------+---------+----+---------+----+----+------+----+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|rank|
+-----+------+---------+----+---------+----+----+------+----+
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|   1|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|   2|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|   3|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|   4|
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|   5|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|   1|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|   2|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|   3|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|   1|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|   2|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|   3|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|   4|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|   5|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 950|null|    30|   6|
+-----+------+---------+----+---------+----+----+------+----+

In [47]:
emp_df.withColumn('rank',row_number().over(win_func)).filter('rank<=3').show()

+-----+------+---------+----+---------+----+----+------+----+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|rank|
+-----+------+---------+----+---------+----+----+------+----+
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|   1|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|   2|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|   3|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|   1|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|   2|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|   3|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|   1|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|   2|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|   3|
+-----+------+---------+----+---------+----+----+------+----+

# rank()

In [17]:
emp_df.withColumn('rank',rank().over(win_func)).show()

+-----+------+---------+----+---------+----+----+------+----+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|rank|
+-----+------+---------+----+---------+----+----+------+----+
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|   1|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|   1|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|   3|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|   4|
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|   5|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|   1|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|   2|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|   3|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|   1|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|   2|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|   3|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|   4|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|   4|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 950|null|    30|   6|
+-----+------+---------+----+---------+----+----+------+----+

In [18]:
emp_df.withColumn('rank',rank().over(win_func)).filter('rank<=3').show()

+-----+------+---------+----+---------+----+----+------+----+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|rank|
+-----+------+---------+----+---------+----+----+------+----+
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|   1|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|   1|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|   3|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|   1|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|   2|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|   3|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|   1|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|   2|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|   3|
+-----+------+---------+----+---------+----+----+------+----+

# dense_rank()

In [20]:
emp_df.withColumn('rank',dense_rank().over(win_func)).show()

+-----+------+---------+----+---------+----+----+------+----+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|rank|
+-----+------+---------+----+---------+----+----+------+----+
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|   1|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|   1|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|   2|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|   3|
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|   4|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|   1|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|   2|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|   3|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|   1|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|   2|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|   3|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|   4|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|   4|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 950|null|    30|   5|
+-----+------+---------+----+---------+----+----+------+----+

In [21]:
emp_df.withColumn('rank',dense_rank().over(win_func)).filter('rank<=3').show()

+-----+------+---------+----+---------+----+----+------+----+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|rank|
+-----+------+---------+----+---------+----+----+------+----+
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|   1|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|   1|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|   2|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|   3|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|   1|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|   2|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|   3|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|   1|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|   2|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|   3|
+-----+------+---------+----+---------+----+----+------+----+

# running average of salary

In [50]:
from pyspark.sql import functions as f


window_range=Window.orderBy(emp_df['DEPTNO']).rangeBetween(Window.unboundedPreceding,Window.currentRow)

emp_df.withColumn('run_sal_range',f.avg('SAL').over(window_range)).show() 
#output matches with oracle query

+-----+------+---------+----+---------+----+----+------+------------------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|     run_sal_range|
+-----+------+---------+----+---------+----+----+------+------------------+
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|2916.6666666666665|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|2916.6666666666665|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|2916.6666666666665|
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|          2453.125|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|          2453.125|
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|          2453.125|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|          2453.125|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|          2453.125|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30| 2073.214285714286|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30| 2073.214285714286|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30| 2073.214285714286|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30| 2073.214285714286|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30| 2073.214285714286|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 950|null|    30| 2073.214285714286|
+-----+------+---------+----+---------+----+----+------+------------------+

In [51]:
from pyspark.sql.functions import col
ord_col=['DEPTNO','SAL']

window_runn=Window.orderBy([col(x) for x in ord_col]).rowsBetween(Window.unboundedPreceding,Window.currentRow)

emp_df.withColumn('run_sal',f.avg('SAL').over(window_runn)).show()

+-----+------+---------+----+---------+----+----+------+------------------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|           run_sal|
+-----+------+---------+----+---------+----+----+------+------------------+
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|            1300.0|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|            1875.0|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|2916.6666666666665|
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|            2387.5|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|            2130.0|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|2270.8333333333335|
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|            2375.0|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|          2453.125|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 950|null|    30|2286.1111111111113|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|            2182.5|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|2097.7272727272725|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|2047.9166666666667|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|2013.4615384615386|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30| 2073.214285714286|
+-----+------+---------+----+---------+----+----+------+------------------+

In [52]:
from pyspark.sql.functions import col
ord_col=['DEPTNO','SAL']

window_runn=Window.partitionBy(emp_df['DEPTNO']) \
                    .orderBy([col(x) for x in ord_col]) \
                    .rowsBetween(Window.unboundedPreceding,Window.currentRow)

emp_df.withColumn('run_sal',f.avg('SAL').over(window_runn)).show()

+-----+------+---------+----+---------+----+----+------+------------------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|           run_sal|
+-----+------+---------+----+---------+----+----+------+------------------+
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|             800.0|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|             950.0|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|            1625.0|
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|           1968.75|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|            2175.0|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|            1300.0|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|            1875.0|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|2916.6666666666665|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 950|null|    30|             950.0|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|            1100.0|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|            1150.0|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|            1237.5|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|            1310.0|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|1566.6666666666667|
+-----+------+---------+----+---------+----+----+------+------------------+